* {
    primary : #151515;
    secondary : #2E2E2E;
    darkest : #000000;
    primarytext : #FFFFFF;
}
.root{
    -fx-background-color: primary;
}
.label{
    -fx-text-fill: primarytext;
}
.button{
    -fx-background-color: primary;
    -fx-text-fill: primarytext;
    -fx-background-radius: 0;
}
.button:hover {
    -fx-background-color: secondary;
}
.button:armed {
    -fx-background-color: darkest;
}
.toggle-button {
    -fx-background-color: primary;
    -fx-text-fill: primarytext;
    -fx-background-radius: 0;
}
.toggle-button:hover {
    -fx-background-color: secondary;
}
.menu-button {
    -fx-background-color: primary;
    -fx-text-fill: primarytext;
    -fx-background-radius: 0;
}
.menu-button:hover {
    -fx-background-color: secondary;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.menu-item {
    -fx-background-color: primary;
    -fx-text-fill: primarytext;
    -fx-background-radius: 0;
}
.menu-item:hover {
    -fx-background-color: secondary;
}